  <header class="top-page-header">
  <nav class="navbar navbar-light" style="background-color: #fff8ed;">
    <div class="container-fluid">
      <a class="navbar-brand">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journals" viewBox="0 0 16 16">
          <path d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2 2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v9a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2z"/>
          <path d="M1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 2.5v.5H.5a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1H2v-.5a.5.5 0 0 0-1 0z"/>
        </svg>Filing Application
      </a>
      
        <button class="log-out-btn btn btn-outline-danger" type="submit">Log out 
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
          </svg>
        </button>
      </form>
    </div>
  </nav>
</header>

<body class="file-create-page-body">

<section class="bg-dark p-2 text-dark bg-opacity-50 p-5 mt-10">

<h1 class="text-center text-white text-opacity-75 m-5">PLEASE MAKE A FILE!!</h1>
  
<%= form_with model: @file, local: true do |f| %>

		<h3 class="text-white">File Name</h3>

	 <div class="container">
			<div class="row">
	  		<div class="col">
	 				<%= f.text_area :file_title, class:"file-title form-control mb-2", id:"file-title", placeholder:" " %>
  			</div>
  			<div class="col">
  				<%= f.submit "Create", class:"btn btn-danger rounded-pill mb-2" %>
				</div>
			</div>
		</div>
  

	<div class="error-color">
		<%= render 'shared/error_messages', model: f.object %>
	</div>

<% end %>

</section>

</body>